body {
    
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.chat-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid blueviolet;
    border-radius: 5px;
}

.chat-box {
    height: 300px;
    overflow-y: scroll;
    border: 1px solid #cf7fe8;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.message {
    padding: 5px 10px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.user {
    background-color: rgb(140, 87, 190);
    text-align: right;
}

.bot {
    background-color: #e0e0e0;
}

.user-input {
    width: calc(100% - 70px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
}

.send-button {
    width: 60px;
    padding: 10px;
    border: none;
    background-color: #a600ff;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}