.main{
    height: 700px;
    width: 1460px ;
    border: 2px solid black;
    background-color: rgb(252, 251, 251);
    position: absolute;
    margin: 0;
    align-items: center;
    justify-content: center;
}
.navbar{
    height: 10px;
    border: 2px solid black;
    display: flex;
    
    align-items :left;
    padding: 15px 0;

}
.navbar .navbar-text{
    font-size: 1.5em;

    font-weight: bold;
}
b{
    color: blue;
}
.b{
    color: blue;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    position: relative;
    left: 90px;
    top:-280px;
    font-size: x-large;
    
}
.c{
    position: relative;
    left: 800px;
    top:-330px;
    font-size: x-large;
}
button{
    background-color: blue;
    color: antiquewhite;
    width: 100px;
    height: 30px;
    border-radius: 12px;
    display: flex;
    position: relative;
    left: 500px;
    top:-300px;
    align-items: center;
    
}
.v{
    background-color: blue;
    color: antiquewhite;
    width: 100px;
    height: 30px;
    border-radius: 12px;
    display: flex;
    position: relative;
    left: 1300px;
    top:-350px;
    align-items: center;
    
}
/* div{
    height: 120px;
    width: 1000px;
    border: 2px solid black;
    position: relative;
    
    left:200px;
    background-color: rgb(127, 131, 138);
    color: rgb(15, 9, 0);
} */
.box{
    width:  60px;
    height: 300px;
    border: 2px solid black;
    background-color: aliceblue;
    left: -1px;
    border-radius: 10px;
    border-top: 20px solid black;
    
}
/* .box1{
    width:  240px;
    height: 300px;
    border: 2px solid black;
    background-color: aliceblue;
    position: relative;
    top:-470px;
    left: 700px;
    border-radius: 10px;
    border-top: 20px solid black;
    align-items: center;
} */
.bn{
    background-color: aliceblue;
    color: black;
    position: relative;
    left: 1px;
    width: 50px;
    height: 20px;
}
.container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    padding: 20px;
    position: relative;
    left: 70px;
    top: 150px;
    border: 1px solid black;
    width:1300px ;
}
.cards{
    background-color: aliceblue;
    border: 1px solid black;
    border-top: 25px solid black;
    width:200px;
    height:180px ;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    box-shadow: 0 4x 6px rgb(177, 166, 166);
}
.box1{
    width:  240px;
    height: 300px;
    border: 2px solid black;
    background-color: aliceblue;
    position: relative;
    top:-700px;
    left: 700px;
    border-radius: 10px;
    border-top: 20px solid black;
    align-items: center;
}
.mp{
    display: flex;
    position: relative;
    top:-320px;
    left: 744px;
}
.circle{
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    top: -510px ;
    left: 700px;
}
.circle1{
    width: 30px;
    height: 30px;
    background-color: blue;
    border-radius: 50%;
    
}
.circles{
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    top: -640px ;
    left: 1360px;
}
.mm{
    display: flex;
    position: relative;
    top:-1109px;
    left: 94px;
}
/* .mp{
    display: flex;
    position: relative;
    top:-760px;
    left: 904px;
} */
